:root {
    --nav-color: #1992d4;
    --btn-color: #1992d4;
    --nav-txt-color: #FFF;
    --btn-txt-color: #FFF;
    --header-txt-color: black;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid: 1fr 4fr / 1fr 4fr 1fr;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 4;
    padding: 20px 50px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: grid;
    grid-template-columns: "1fr 4fr";
    grid-auto-rows: minmax(min-content, 30px);
    grid-row: 1 / 3;
    background-color: var(--nav-color);
    color: var(--nav-txt-color);
    padding: 20px;
    row-gap: 15px;
    align-items: center;
    column-gap: 10px;
    justify-content: left;
}

nav a {
    color: var(--nav-txt-color);
}

.logo-text {
    grid-column: 2;
    font-size: 1.8rem;
}

b {
    grid-column: 1 / 3;
}

.navlink {
    font-size: 1.5rem;
    font-weight: 600;
    grid-column: 2;
}

.nav-icon {
    grid-column: 1;
    justify-self: center;
    font-size: 1.5rem;
}

.projects {
    grid-column: 2;
    grid-row: 2;
}

.sidebars {
    grid-column: 3;
    grid-row: 2;
}

a {
    text-decoration: none;
}

/* Dashboard Icon */
ion-icon[name=grid] {
  font-size: 2.5rem !important;
}

.small-profile {
    width: 50px;
    border-radius: 50%;
}

.header-first-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

input[type=search] {
    flex: 1;
    max-width: 50%;
    height: 1rem;
    border: none;
    background-color: #e2e8f0;
    border-radius: 20px;
    
    font-size: 1.5rem;
    padding: 15px;
}

header ion-icon {
    font-size: 1.6rem;
    color: var(--header-txt-color);
}

.header-first-row p {
    font-weight: 500;
    font-size: 1.2rem;
}

ion-icon[name=notifications-outline] {
    margin-left: auto;
}

ion-icon[name=notifications-outline]:hover {
    cursor: pointer;
}


