:root {
    --nav-color: #1992d4;
    --btn-color: #1992d4;
    --nav-txt-color: #FFF;
    --btn-txt-color: #FFF;
    --header-txt-color: black;
    --header-color: #FFF;
    --body-bck-color: #e2e8f0;
    --card-bck-color: #FFF;
    --card-text-color: #6c6c6c;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body-bck-color);
}

.container {
    display: grid;
    grid: 1fr 4fr / 1fr 4fr 1fr;
    height: 100vh;
    row-gap: 30px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    grid-column: 2 / 4;
    padding: 20px 50px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--header-color);
}

nav {
    display: grid;
    grid-template-columns: "1fr 4fr";
    grid-auto-rows: minmax(min-content, 30px);
    grid-row: 1 / 3;
    background-color: var(--nav-color);
    color: var(--nav-txt-color);
    padding: 20px;
    row-gap: 15px;
    align-items: center;
    column-gap: 10px;
    justify-content: left;
}

nav a {
    color: var(--nav-txt-color);
}

.logo-text {
    grid-column: 2;
    font-size: 1.8rem;
}

b {
    grid-column: 1 / 3;
}

.navlink {
    font-size: 1.5rem;
    font-weight: 600;
    grid-column: 2;
}

.nav-icon {
    grid-column: 1;
    justify-self: center;
    font-size: 1.5rem;
}

.projects {
    grid-column: 2;
    grid-row: 2;
}

.sidebars {
    grid-column: 3;
    grid-row: 2;
}

a {
    text-decoration: none;
}

/* Dashboard Icon */
ion-icon[name=grid] {
    font-size: 2.5rem !important;
}

.small-profile {
    width: 50px;
    border-radius: 50%;
}

.header-first-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

input[type=search] {
    flex: 1;
    max-width: max(50%, 200px);
    height: 1rem;
    border: none;
    background-color: #e2e8f0;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 15px;
}

input[type=search]:focus {
    outline: 1px solid #f0b429;
}

header ion-icon {
    font-size: 1.6rem;
    color: var(--header-txt-color);
}

.header-first-row p {
    font-weight: 500;
    font-size: 1.2rem;
}

ion-icon[name=notifications-outline] {
    margin-left: auto;
}

ion-icon[name=notifications-outline]:hover {
    cursor: pointer;
}

.header-second-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.profile-div {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
    column-gap: 5px;
}

.big-profile {
    width: 75px;
    border-radius: 50%;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}

.profile-div p:first-of-type {
    font-weight: 500;
    align-self: flex-end;
}

.profile-div p:last-of-type {
    font-size: 1.75rem;
    font-weight: 600;
    grid-column: 2;
}

.btns-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}

.btns-div button {
    border: none;
    border-radius: 2.75rem;
    height: 2.75rem;
    flex: 1 0 100px;
    background-color: var(--btn-color);
    color: var(--btn-txt-color);
    font-size: 1.1rem;
    font-weight: 600;
}

.btns-div button:hover {
    cursor: pointer;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: min-content;
    grid-auto-rows: 250px;
    padding: 0 20px;
    column-gap: 25px;
    row-gap: 20px;
}

.projects>h2 {
    grid-column: 1 / -1;
    justify-self: start;
}

.card {
    background-color: var(--card-bck-color);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    padding: 20px 20px 30px 20px;
    border-left: 10px solid #f0b429;
    border-radius: 10px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.1);
    gap: 5px;
}

.card p {
    color: var(--card-text-color);
    font-size: 1.1rem;
}

.card>h3 {
    align-self: flex-end;
    font-size: 1.3rem;
}

.card-icons {
    display: flex;
    flex-direction: row-reverse;
    font-size: 2rem;
    gap: 10px;
    align-self: flex-end;
}

.card-icons *:hover {
    cursor: pointer;
}

.sidebar {
    display: grid;
    grid-template-rows: min-content;
    gap: 20px;
    padding-right: 30px;
}

.ann-div {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30ch;
    grid-auto-rows: 1fr;
    align-items: center;
    gap: 10px;
    padding: 20px 30px;
    background-color: var(--card-bck-color);
    border-radius: 10px;
}

.announcement {
    display: grid;
    gap: 5px;
}

.ann-text {
    line-height: 1rem;
    height: calc(4*1rem);
    overflow-y: scroll;
}

.ann-text::-webkit-scrollbar {
    width: 0px
}

.ann-text:hover::-webkit-scrollbar {
    width: 1px;
}

.ann-text:hover::-webkit-scrollbar-thumb {
    background-color: black;
}
.announcement p {
    font-size: 0.9rem;
    color: var(--card-text-color);
}

